.payment-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-container h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #6772e5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }