.done__container {
    display: flex; /* Remove quotes around 'flex' */
    justify-content: center; /* Use hyphenated property names */
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .card {
      margin-top: 7rem;

    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  